.sunset-common-videomodal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    & > .sunset-common-videomodal-shim {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
        background: rgba(0, 0, 0, 0.75);
    }
    .sunset-video-wrap {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & > div {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.show {
        display: block;
    }
}
